<h1><%= t '.page_title' %></h1>
<p><%= link_to t(:switch_locale), books_new_path(locale: @locale) %></p>

<%= render 'form', {book: @book, action_name: t(".action_name")} %>

<%= link_to t(:back), books_path %>
